
.products{
   position: relative;
   margin-top: 100px;
   ;
}
#products{
   display: none;
}
.update-form-btn-area{
   display: flex;
   justify-content: space-around;
   width: 100%;
}

.btn{
    display: block;
    width: 130px;
    cursor: pointer;
    border-radius: .5rem;
    margin-top: 1rem;
    font-size: 15px;
    padding:5px 10px;
    background:  var(--blue);
    color: white;
    text-align: center;
    text-decoration: none;
 }

 .add{
   margin: 10px auto;
 }
 
 .btn:hover{
    background:#333;
 }

 .message{
    display: block;
    background: var(--bg-color);
    padding:1.5rem 1rem;
    font-size: 1.5rem;
    color: red;
    margin-bottom: 2rem;
    text-align: center;
 }

 #product-add-container{
   display: block;
}
#product-update-container{
   display: none;
}
 
 .product-add-container.centered{
    display: flex;
    align-items: center;
    justify-content: center;
   

 
    
 }
 
 .product-add-container form{
    max-width: 500px;
    margin:0 auto;
    padding:10px;
    border-radius: .5rem;
    background: whitesmoke;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: 30px;
    border: .1rem solid rgba(0,0,0,.1);

 }
 
 .product-add-container form h3{
    text-transform: uppercase;
    color:var(--black);
    margin-bottom: 1rem;
    text-align: center;
    font-size:25px;
 }
 
 .product-add-container form .box{
    position: relative;
    width: 90%;
    border-radius: .5rem;
    border: #333 solid 1px;
    padding:10px 20px;
    font-size: 15px;
    margin:5px auto ;
    margin-left: 5%;
    background: var(--white);
    text-transform: none;
    
    
 }
 
 .input-area{
  margin: 5px 0;
   
 }

 label{
    margin: 0 3px;
    font-size: 15px;
    color: black;
    font-weight:400;
 }
 .category-area{
    display: flex;
    margin-top: 1rem;
    align-items: center;
    margin-left: 5%;
 
}

.product-category-list .checkbox {
     
     margin-left: 0;
}
.product-category-list .category-name {
    flex: 1;
    margin-left: 3px;
    font-size: 12px;
    
}

.product-category-list .checkbox,
.product-category-list .category-name {
    margin-bottom: 5px;
}




/* ==============css for product display===================== */
.product-display{
   margin:40px 0;
   width: 100%;

}

.product-display .product-display-table{
   width: 100%;
   text-align: center;
   align-items: center;
}

.product-display .product-display-table thead{
   background: var(--gray);
   color:var(--black);
  
}

.product-display .product-display-table th{
   padding:7px;
   font-size:18px;
}


.product-display .product-display-table td{
   padding:10px;
   font-size: 15px;
   border-bottom: .1rem solid var(--black);;
}

.product-display .product-display-table .btn:first-child{
   margin-top: 0;
}

.product-display .product-display-table .delete{
   background: crimson;
   width: 60%;
   margin: 5px auto;
}

.product-display .product-display-table .edit{
   background:green;
   width: 60%;
   margin:  5px auto;
}







 
