 #messages h2{
    margin-top: 100px;
    text-align: center;
    color: #2a2185;
}

 #messages .msg-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

 #messages .msg-box {
    margin-top: 1rem;
    padding: 10px;
    width: 45rem;
    border-radius: 8px;
    border: 2px solid #2a2185;
    font-size: 12px;
}

#messages .msg-box h3{
    font-size: 15px;
    color: #2a2185;
    text-align: center;
}
#messages .msg-box h4{
    margin-top: 10px;
}
#messages .msg-box  h4 a{
    text-decoration: none;
}