:root{
    --pink:#e84393;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding:  5px 20px;
}


.header-logo img{
    width: 130px;
    height: 40px;
}

.header-navbar a{
    font-size: 1.5rem;
    padding: 0 1.5rem;
    color: #666;
}

.header-navbar a:hover{
    color: var(--pink);
}

.header-icons{
    display: flex;
}

.header-icons a{
  font-size: 2.5rem;
  color: #333;
  margin-left: 1.5rem;
}

.header-icons a:hover{
    color: var(--pink);
}

header #toggler{
    display: none;
}
header .fa-bars{
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1rem;
    cursor: pointer;
    border: .1rem solid rgba(0,0,0,.1);
    display: none;
}

#header-user-name{
    font-size: 1.5rem;
    color: #333;
    
}
/* ... Your existing styles ... */

.header-user-wrapper {
    position: relative;
}

.user-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #eee;
    border: .1rem solid rgba(0,0,0,.1);
    width: 200px; /* Adjust the width as needed */
}

.user-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.user-menu li {
    margin: 0;
    padding: 1rem;
    border-bottom: .1rem solid rgba(0,0,0,.1);
}

.user-menu a {
    text-decoration: none;
    color: #333;
    display: block;
    font-size: 15px;
}

.user-menu a:hover {
  
    color: white;
}
.user-menu li:hover {
    background-color: var(--pink);
   
}





/* media queries */

@media(max-width:991px){
    html{
        font-size: 55%;
        
    } 

    header{
        padding: 2rem;
    }
  
}

@media(max-width:768px){
    header .fa-bars{
        display: block;
    }

    header .header-navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0,100% 0,100% 0,0 0);

    }
    header #toggler:checked ~ .header-navbar{
        clip-path:polygon(0 0,100% 0,100% 100%,0% 100%);
    }

    header .header-navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: white;
        border: .1rem solid rgba(0,0,0,.1);
        display: block;
    }
}


