<<<<<<< HEAD
/* *{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
} */
.details-banner {
    position: relative;
    background: url(../asset/banner.jpg); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    min-height: 30rem;
    color: black;
}

.details-banner .details-title{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Dancing Script', cursive; 
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;   

}

/* .section-p1{

    margin: 20rem;
    padding: 20rem;
    border: 20rem;


} */

#prodetails{
    display: flex;
    padding-top: 10rem;
    box-shadow: 0 .1rem 0.3rem rgba(0,0,0,.1);
    padding-bottom: 10rem;
}
#prodetails .single-pro-image {
    width: 30%;
    height: 47rem;
    margin-right: 5rem;
    margin-left: 22rem;
    outline: 0.01rem solid #b7b6b6; 
    display: inline-block;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border: 1rem solid #FFFFFF;
    /* padding: 1rem; */
    
}

#prodetails .single-pro-image img{
    height: 100%;
}


/* .small-img-group {
    display: flex;
    justify-content: space-between;
 } */

 /* .small-img-col {
    flex-basis: 24%;
    cursor: pointer;
 } */

 #prodetails .single-pro-details {
    width: 50%;
    margin-right: 18rem;
    text-align: justify;
    padding-top: 1rem;
    /* padding-top: 1rem; */
 }

 #prodetails .single-pro-details h3{
    padding: 0.2rem 0 1rem 0; 
    font-size: 3.5rem;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Times New Roman', Times, serif;
 }

 #prodetails .single-pro-details h5{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    padding:0.2rem 0 1rem 0;
    /* font-family: Arial, Helvetica, sans-serif; */
 }
 
 #prodetails .single-pro-details .more-details{
    font-size: 1.3rem;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif; 

    padding:0.2rem 0 4rem 0;
    /* font-family: Arial, Helvetica, sans-serif; */

    /* line-height: 3rem; */
    /* font-family: 'Times New Roman'; */
    /* font-family: "Poppins", sans-serif; */
 }

 #prodetails .single-pro-details .more-details .description{
    line-height: 2rem;
    padding: 1rem 0 2rem 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 

}

#prodetails .single-pro-details .more-details h6{
    padding-bottom: 1rem;
    font-size: small;
}
#prodetails .single-pro-details input{
    width: 8rem;
    height: 4rem;
    padding:0 1.5rem 0 1.5rem;
    font-size: 1.5rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    border: 0.1rem solid rgb(16, 15, 15);
    border-radius: 0.5rem;
}

#prodetails .single-pro-details input:hover{
    border: 0.2rem solid rgb(16, 15, 15);
}

#prodetails .single-pro-details .cart-icons{
    width: 20rem;
    height: 5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: center;
    border: 0.1rem solid rgb(119, 118, 118);
    margin-bottom: 1rem;
}

#prodetails .single-pro-details .cart-icons a{
    height: 100%;
    line-height: 5rem;
    font-size: 1.5rem;
    background: var(--pink);
    color: white;   
}

#prodetails .single-pro-details .cart-icons a:hover{
    background-color: #333;
}

#prodetails .single-pro-details .cart-icons .cart-btn{
    margin-right: 0;
    width: 75%;
    height: 100%;
    margin: 0;
    vertical-align: middle;
    border-right: 0.1rem solid rgb(119, 118, 118);
}

#prodetails .single-pro-details .cart-icons #heart{
    width: 25%;
    height: 100%;
    margin: 0;
    outline: 0;
    text-align: center;
}

#prodetails .single-pro-details .buy-btn{
    line-height: 5rem;
    font-size: 1.5rem;
    background:  #333;
    color: white; 
    text-align: center;
    border: 0.1rem solid rgb(119, 118, 118);
    border-radius: 0.2rem;
    padding: 1.4rem 3rem;
}

#prodetails .single-pro-details .buy-btn:hover{
    background: #ffffffdc;
    color: black;
    border: 0.1rem solid #333;

}

#similar-products{
    margin: 5rem 5rem;
    padding: 0 5rem 5rem;
    font-family: 'Times New Roman', Times, serif;

    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
}

#similar-products p{
    padding: 0 0 5rem 0;
    font-size: 3rem;
    color: rgba(238, 20, 137, 0.829);
}

#similar-products .item-cards-container{
    display: flex;
    justify-content: space-between;
    
}

#similar-products .item-cards-container{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    margin-top: 0;
    margin-bottom: 0 ;
    
 }

 #similar-products .item-cards-container .item-card{
    flex: 1 1 calc(25%-2rem);
    min-width: 25rem;
    box-shadow: 0 .2rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.1);
    position: relative;
    margin: 1rem;

 }

 #similar-products .item-cards-container .item-card .flower-image{
    position: relative;
    text-align:center ;
    padding-top: 2rem;
    overflow: hidden;
 }

 #similar-products .item-cards-container .item-card .flower-image img{
    height: 20rem;
    width: 20rem;
    border-radius: 1rem;

 }
 #similar-products .item-cards-container .item-card .flower-image img:hover{
    transform: scale(1.05);
    
 }

 #similar-products .item-cards-container .item-card .flower-image .item-card-icons{
    position: absolute;
    bottom: -7rem;
    left: 0;
    right: 0;
    display: flex;
    
 }

 #similar-products .item-cards-container .item-card:hover .flower-image .item-card-icons{
    bottom: 0;
 }

 #similar-products .item-cards-container .item-card .flower-image .item-card-icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 1.7rem;
    width: 100%;
    background: var(--pink);
    color: white;
 }

 #similar-products .item-cards-container .item-card .flower-image .item-card-icons #heart2{
    width: 35%;
    border-right: .2rem solid #fff7;

 }

 #similar-products .item-cards-container .item-card .flower-image .item-card-icons a:hover{
    background-color: #333;
 }
 #similar-products .item-cards-container .item-card .item-card-content{
    padding: 2rem;
    text-align: center;
 }

 #similar-products .item-cards-container .item-card .item-card-content h3{
    font-size: 1.2rem;
    color: #333;
 }

 #similar-products .item-cards-container .item-card .item-card-content .price{
    font-size: 1.2rem;
    color:var(--pink);
    font-weight: bolder;
    padding-top: 1rem;
 }

.pro-container {
    display: flex;
    justify-content: space-between;
 }

/* copied */
@media (max-width: 477px) {
    .section-p1 {
    padding: 20px;
    }
    /* #header {
    padding: 10px 30px;
    } */
    
    
    h1{
        font-size: 38px;
    }
    h2 {
        font-size: 32px;
    }
    /* #hero {
        padding: @ 20px;
        background-position: 55%;
    } */

    /* Single Product */
    #prodetails {
        display: flex;
        flex-direction: column;
    }   
    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }

    #prodetails .single-pro-details{
        width: 100%;
    }
}



    /* styles.css */
    /* body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    } */

=======
/* *{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
} */
.details-banner {
    position: relative;
    background: url(../asset/banner.jpg); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    min-height: 30rem;
    color: black;
}

.details-banner .details-title{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Dancing Script', cursive; 
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;   

}

/* .section-p1{

    margin: 20rem;
    padding: 20rem;
    border: 20rem;


} */

#prodetails{
    display: flex;
    padding-top: 10rem;
    box-shadow: 0 .1rem 0.3rem rgba(0,0,0,.1);
    padding-bottom: 10rem;
}
#prodetails .single-pro-image {
    width: 30%;
    height: 47rem;
    margin-right: 5rem;
    margin-left: 22rem;
    outline: 0.01rem solid #b7b6b6; 
    display: inline-block;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border: 1rem solid #FFFFFF;
    /* padding: 1rem; */
    
}

#prodetails .single-pro-image img{
    height: 100%;
}


/* .small-img-group {
    display: flex;
    justify-content: space-between;
 } */

 /* .small-img-col {
    flex-basis: 24%;
    cursor: pointer;
 } */

 #prodetails .single-pro-details {
    width: 50%;
    margin-right: 18rem;
    text-align: justify;
    padding-top: 1rem;
    /* padding-top: 1rem; */
 }

 #prodetails .single-pro-details h3{
    padding: 0.2rem 0 1rem 0; 
    font-size: 3.5rem;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Times New Roman', Times, serif;
 }

 #prodetails .single-pro-details h5{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    padding:0.2rem 0 1rem 0;
    /* font-family: Arial, Helvetica, sans-serif; */
 }
 
 #prodetails .single-pro-details .more-details{
    font-size: 1.3rem;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif; 

    padding:0.2rem 0 4rem 0;
    /* font-family: Arial, Helvetica, sans-serif; */

    /* line-height: 3rem; */
    /* font-family: 'Times New Roman'; */
    /* font-family: "Poppins", sans-serif; */
 }

 #prodetails .single-pro-details .more-details .description{
    line-height: 2rem;
    padding: 1rem 0 2rem 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 

}

#prodetails .single-pro-details .more-details h6{
    padding-bottom: 1rem;
    font-size: small;
}
#prodetails .single-pro-details input{
    width: 8rem;
    height: 4rem;
    padding:0 1.5rem 0 1.5rem;
    font-size: 1.5rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    border: 0.1rem solid rgb(16, 15, 15);
    border-radius: 0.5rem;
}

#prodetails .single-pro-details input:hover{
    border: 0.2rem solid rgb(16, 15, 15);
}

#prodetails .single-pro-details .cart-icons{
    width: 20rem;
    height: 5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: center;
    border: 0.1rem solid rgb(119, 118, 118);
    margin-bottom: 1rem;
}

#prodetails .single-pro-details .cart-icons a{
    height: 100%;
    line-height: 5rem;
    font-size: 1.5rem;
    background: var(--pink);
    color: white;   
}

#prodetails .single-pro-details .cart-icons a:hover{
    background-color: #333;
}

#prodetails .single-pro-details .cart-icons .cart-btn{
    margin-right: 0;
    width: 75%;
    height: 100%;
    margin: 0;
    vertical-align: middle;
    border-right: 0.1rem solid rgb(119, 118, 118);
}

#prodetails .single-pro-details .cart-icons #heart{
    width: 25%;
    height: 100%;
    margin: 0;
    outline: 0;
    text-align: center;
}

#prodetails .single-pro-details .buy-btn{
    line-height: 5rem;
    font-size: 1.5rem;
    background:  #333;
    color: white; 
    text-align: center;
    border: 0.1rem solid rgb(119, 118, 118);
    border-radius: 0.2rem;
    padding: 1.4rem 3rem;
}

#prodetails .single-pro-details .buy-btn:hover{
    background: #ffffffdc;
    color: black;
    border: 0.1rem solid #333;

}

#similar-products{
    margin: 5rem 5rem;
    padding: 0 5rem 5rem;
    font-family: 'Times New Roman', Times, serif;

    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
}

#similar-products p{
    padding: 0 0 5rem 0;
    font-size: 3rem;
    color: rgba(238, 20, 137, 0.829);
}

#similar-products .item-cards-container{
    display: flex;
    justify-content: space-between;
    
}

#similar-products .item-cards-container{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    margin-top: 0;
    margin-bottom: 0 ;
    
 }

 #similar-products .item-cards-container .item-card{
    flex: 1 1 calc(25%-2rem);
    min-width: 25rem;
    box-shadow: 0 .2rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.1);
    position: relative;
    margin: 1rem;

 }

 #similar-products .item-cards-container .item-card .flower-image{
    position: relative;
    text-align:center ;
    padding-top: 2rem;
    overflow: hidden;
 }

 #similar-products .item-cards-container .item-card .flower-image img{
    height: 20rem;
    width: 20rem;
    border-radius: 1rem;

 }
 #similar-products .item-cards-container .item-card .flower-image img:hover{
    transform: scale(1.05);
    
 }

 #similar-products .item-cards-container .item-card .flower-image .item-card-icons{
    position: absolute;
    bottom: -7rem;
    left: 0;
    right: 0;
    display: flex;
    
 }

 #similar-products .item-cards-container .item-card:hover .flower-image .item-card-icons{
    bottom: 0;
 }

 #similar-products .item-cards-container .item-card .flower-image .item-card-icons a{
    height: 5rem;
    line-height: 5rem;
    font-size: 1.7rem;
    width: 100%;
    background: var(--pink);
    color: white;
 }

 #similar-products .item-cards-container .item-card .flower-image .item-card-icons #heart2{
    width: 35%;
    border-right: .2rem solid #fff7;

 }

 #similar-products .item-cards-container .item-card .flower-image .item-card-icons a:hover{
    background-color: #333;
 }
 #similar-products .item-cards-container .item-card .item-card-content{
    padding: 2rem;
    text-align: center;
 }

 #similar-products .item-cards-container .item-card .item-card-content h3{
    font-size: 1.2rem;
    color: #333;
 }

 #similar-products .item-cards-container .item-card .item-card-content .price{
    font-size: 1.2rem;
    color:var(--pink);
    font-weight: bolder;
    padding-top: 1rem;
 }

.pro-container {
    display: flex;
    justify-content: space-between;
 }

/* copied */
@media (max-width: 477px) {
    .section-p1 {
    padding: 20px;
    }
    /* #header {
    padding: 10px 30px;
    } */
    
    
    h1{
        font-size: 38px;
    }
    h2 {
        font-size: 32px;
    }
    /* #hero {
        padding: @ 20px;
        background-position: 55%;
    } */

    /* Single Product */
    #prodetails {
        display: flex;
        flex-direction: column;
    }   
    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0px;
    }

    #prodetails .single-pro-details{
        width: 100%;
    }
}



    /* styles.css */
    /* body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    } */

>>>>>>> 4b728774cc2f6ee0587b26730a6d39f14125af51
